<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Form</title>
  </head>
  <body>
    <div class="container">
      <h1>Simple Form</h1>
      <form action="{{ url_for('predict') }}" method="post">
        <div>
          <label>Input 1</label>
          <input type="text" name="input1">
        </div>
        <div>
          <label>Input 2</label>
          <input type="text" name="input2">
        </div>
        <div>
          <label>Input 3</label>
          <input type="text" name="input3">
        </div>
        <button type="submit">Submit</button>
      </form>
      {% if prediction_text %}
      <h3>{{ prediction_text }}</h3>
      {% endif %}
    </div>
  </body>
</html>
