<!DOCTYPE html>
<head>
    <title>Login Page</title>
    <link rel="Stylesheet" href="/static/login.css">
</head>
<body>
    <h1>Login Page</h1>
    <div>
        <form action="/php/login.php" method="get">
            <ul>
            <label for="id">ID :</label>
            <input type="number" id="id" name="id" placeholder="Enter your ID">
            </ul>

            <ul>
            <label for="password">Password :</label>
            <input type="password" id="password" name="password" placeholder="Enter your password">
            </ul>
        </form>
    
        <input type="submit" value="submit">
    </div>

    <footer>Copyright by Ryan&Sc Foundation</footer>
</body>
</html>
