<!DOCTYPE html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <h1 class="page-title">Registration Page</h1>
    <div class="form-container register">
        
        <form action="/register" method="POST">
            <input type="number" id="id" name="id" placeholder="Enter your ID" required>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <input type="submit" value="Register">
        </form>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <footer>Copyright by Ryan&Scott Foundation</footer>
</body>
</html>
